<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="xinggq.university.aircloud.dao.currentDaoImpl.NangangDaoImpl">


    <!-- 根据最小id和步长确定要抓取的数据 -->
    <select id="getHistoryData" resultType="xinggq.university.aircloud.entity.Nangang">
        select * from nangang where (id-${startId})%${step}=0
    </select>



    <!-- 获取昨天所有数据总数和id的最小值-->
    <select id="getLastDatanum" resultType="Map">
        select max(id) maxId,min(id) minId from nangang where
		time1 between date_add(curdate(),interval -1 day ) and  curdate() order by time1
    </select>

    <!-- 导出指定日期的报表-->
    <select id="export" resultType="Hashmap" parameterType="String">
        select * from nangang  where  date_format(time1,"%Y-%m-%d") =#{data} order by time1
    </select>
</mapper>