<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="xinggq.university.data.Dao.BackDataDao">


    <update id="creatTable" >
        create table if not exists ${tableName}
            <foreach item="field" index="index" collection="fields"
                     open="( id int(10)  auto_increment," separator=" varchar(10) null," close=" varchar(10) null,time1 datetime,primary key(id,time1))">
                ${field}
            </foreach>

    </update>
    
    <insert id="insertData">
      insert into ${tableName} values
        <foreach item="value" index="index" collection="arrayList"
                 open="(null," separator="),(null," close=")">
            ${value}
        </foreach>
    </insert>

</mapper>